name: ci

permissions:
  contents: read
  packages: write

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'

env:
  VERSION: '5.7.1'

jobs:
  windows:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to github.com
        uses: crazy-max/ghaction-chocolatey@v2
        if: github.event_name != 'pull_request'
        with:
          args: apikey --key ${{ secrets.GITHUB_TOKEN }} --source "https://nuget.pkg.github.com/lareeth/"

      - name: Login to chocolatey.org
        uses: crazy-max/ghaction-chocolatey@v3
        if: github.event_name != 'pull_request'
        with:
          args: apikey --key ${{secrets.CHOCO_KEY}} --source "https://push.chocolatey.org/"

      - name: Choco Pack
        uses: crazy-max/ghaction-chocolatey@v3
        with:
          args: pack --version ${{ env.VERSION }}

      - name: Choco Install
        uses: crazy-max/ghaction-chocolatey@v3
        with:
          args: install podman-cli --version ${{ env.VERSION }} --source=.

      - name: Podman Version
        run: podman --version

      - name: Choco Push to github.com
        uses: crazy-max/ghaction-chocolatey@v3
        if: github.event_name != 'pull_request'
        with:
          args: push podman-cli.${{ env.VERSION }}.nupkg --source "https://nuget.pkg.github.com/lareeth/"

      - name: Choco Push to chocolatey.org
        uses: crazy-max/ghaction-chocolatey@v3
        if: github.event_name != 'pull_request'
        with:
          args: push podman-cli.${{ env.VERSION }}.nupkg --source "https://push.chocolatey.org/"
